.App {
    text-align: center;
}

.limited-width {
    margin: auto;
    max-width: 25rem;
}

.points-item {
    display: inline-block;
    box-shadow: 1px 1px 3px gray;
    width: 4em;
    height: 4em;
    padding: .3em;
    margin: .2em;
}

.zero {
    color: dodgerblue;
    box-shadow: 1px 1px 3px dodgerblue;
}

.points-item > b {
    font-size: 1.5em;
}
